{% extends "tunga/email/base.html" %}
{% load i18n %}
{% block email_header %}
    New progress report for
     {% if event.task.is_task %}
     task
     {% else %}
     project
     {% endif %}.
{% endblock %}
{% block email_content %}
    <p> Hello {{ instance.user }}</p>
    <p>It seems that that [NAME CLIENT] was unsatisfied with your deliverable
     on the [CLIENT’S PROJECT] project.</p>
    <p>We are writing you to let you know that we will be contacting you very
     shortly about the details of the matter and how we can support you, but in
      the meanwhile, you can give us some details by clicking the button below.</p>
     <button></button>
     <p>Best regards,</p>
     <p>Tunga</p>

{% endblock %}